---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h2>Making GLP-1 Compounding Simple, Clear, and Accessible</h2>
      <h4>Coming Soon</h4>
      <p class="prose">
        Your trusted resource for understanding GLP-1 compounding, coverage
        changes, and safe alternatives—available in English 🇺🇸, Spanish 🇪🇸,
        Vietnamese 🇻🇳, and Portuguese 🇵🇹.
      </p>

      <p class="prose">
        CompoundingHelp.com is built for people navigating the confusing,
        expensive, and often frustrating world of GLP-1 medications. Whether
        your insurance stopped covering your GLP-1 the FDA’s recent changes left
        you without options, or you’re simply looking for safe and affordable
        alternatives, this site is here to help.
      </p>
      <p class="prose">
        We bring together:
        <ul></ul>
        <li>
          Compounding pharmacy directory: Find trusted sources <i
            >and alternatives.</i
          >
        </li>
        <li>
          How-to videos & guides: Learn what compounding means and how it works.
        </li>
        <li>
          Educational content: Understand your options with clear,
          consumer-friendly explanations.
        </li>
        <li>
          Stay informed about FDA rules, drug shortages, and pricing changes.
        </li>
        <b
          >Our mission is simple: make GLP-1 compounding information accessible
          to everyone, everywhere.</b
        >
      </p>
    </main>

    <Footer />
  </body>
</html>
