---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h2>Welcome to OnlineBeauty.bar</h2>
      <h3>Every Salon's Wholesale Online Store</h3>
      <h6><i>Coming October 2025!</i></h6>
      <p class="prose">
        Your trusted resource for salon and beauty wholesale supplies, trends,
        and business growth tips.
      </p>

      <p class="prose">
        OnlineBeauty.bar is designed for salon owners, beauty professionals, and
        resellers seeking the best wholesale products, prices, industry
        insights, and support for growing their businesses.
      </p>
      <p class="prose">
        We bring together:
        <ul>
          <li
            style="list-style-type: disc; margin-left: 20px; margin-bottom: 5px; ">
            <b>Wholesale Catalog:</b> Discover top brands and trusted suppliers.
          </li>
          <li
            style="list-style-type: disc; margin-left: 20px; margin-bottom: 5px; ">
            <b> How-to guides:</b> Learn how OnlineBeauty.Bar can be your source
            for key commodities and consumables to grow your salon business.
          </li>
          <li
            style="list-style-type: disc; margin-left: 20px; margin-bottom: 5px; ">
            <b>Educational content:</b> Stay ahead of beauty trends and product launches.
          </li>
          <li
            style="list-style-type: disc; margin-left: 20px; margin-bottom: 5px; ">
            <b>Industry updates:</b> Get the latest news on pricing, product availability,
            and regulations.
          </li>
        </ul>
        <b>
          Our mission is simple: make salon and beauty wholesale information and
          pricing accessible to every salon, everywhere.
        </b>
      </p>
    </main>

    <Footer />
  </body>
</html>
