---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h2>Welcome to OnlineBeauty.bar</h2>
      <h4>Salon's Wholesale Online Store Coming October 2025!</h4>
      <p class="prose">
        Your trusted resource for salon and beauty wholesale supplies, trends,
        and business growth tips.
      </p>

      <p class="prose">
        OnlineBeauty.bar is designed for salon owners, beauty professionals, and
        resellers seeking the best wholesale products, industry insights, and
        support for growing their businesses.
      </p>
      <p class="prose">
        We bring together:
        <ul>
          <li>
            Wholesale Catalog: Discover top salon brands and trusted suppliers.
          </li>
          <li>
            How-to guides: Learn how onlinebeauty.bar can be your source for key
            commodities and consumables to grow your salon business.
          </li>
          <li>
            Educational content: Stay ahead of beauty trends and product
            launches.
          </li>
          <li>
            Industry updates: Get the latest news on pricing, product
            availability, and regulations.
          </li>
        </ul>
        <b>
          Our mission is simple: make salon and beauty wholesale information
          accessible to everyone, everywhere.
        </b>
      </p>
    </main>

    <Footer />
  </body>
</html>
